<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Uploads - Enterprise AI</title>
        <link rel="icon" href="../static/treeicon.png" type="image/icon type">
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Enterprise AI</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
<!--                        <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>



        <div id="layoutSidenav">


            <div id="layoutSidenav_nav">

                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Login as:</div>
                            <a class="nav-link"><div class="sb-nav-link-icon"></div>{{current_user.email}}</a>

                            <div class="sb-sidenav-menu-heading">Dashboard</div>
                            <a class="nav-link" href="/home"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard</a>

                            <div class="sb-sidenav-menu-heading">Interface</div>
                                <a class="nav-link" href="/upload"><div class="sb-nav-link-icon"><i class="fa fa-upload" aria-hidden="true"></i></div>Upload</a>
                                <a class="nav-link" href="/myuploads"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>My Uploads</a>
                                <a class="nav-link" href="/video_upload"><div class="sb-nav-link-icon"><i class="fa fa-upload" aria-hidden="true"></i></div>Video Upload</a>
                                <a class="nav-link" href="/video_myuploads"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Video My Uploads</a>
                    </div>
                </nav>


            </div>


            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <!-- <h1 class="mt-4">Dashboard</h1> -->
                        <ol class="breadcrumb mb-4" style="margin-top: 15px;">
                            <li class="breadcrumb-item active">My Uploads</li>
                        </ol>
                    <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name of File/Customer</th>
                                                <th>Emotion Detected</th>
                                                <th>Review</th>
                                                <th>View Report</th>
                                                <!-- <th>View Interaction</th> -->
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name of File/Customer</th>
                                                <th>Emotion Detected</th>
                                                <th>Review</th>
                                                <th>View Report</th>
                                                <!-- <th>View Interaction</th> -->
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for rec in table %}
                                            {%      if rec.path=="" %}
                                            <tr>
                                                <td>{{rec.place}}</td>
                                                <td>{{rec.emotion}}</td>
                                                <td>{{rec.review}}</td>
                                                <td><a type="button" class="btn btn-success" href="/video_details/{{rec.id}}">View</a></td>
                                                <!-- <td>
                                                <a type="button" class="btn btn-primary" style="color: white;" data-toggle="modal" data-target="#exampleModalCenter{{rec.id}}">
                                                    View Interaction
                                                </a>
                                                <div class="modal fade" id="exampleModalCenter{{rec.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">{{rec.place}} Interaction</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{rec.datafile}}
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </td> -->
                                                <td><a type="button" class="btn btn-danger" href="/video_delete/{{rec.id}}">X</a></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    

                    


                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <!-- <div class="text-muted">Copyright &copy; All rights reserved</div> -->
                          <!--   <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div> -->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="static/assets/demo/chart-area-demo.js"></script>
        <script src="static/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="static/assets/demo/datatables-demo.js"></script>
    </body>
</html>
